# What to do when there are misssing values

1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data altogether

In [51]:
# import car sales missing data
import pandas as pd
car_sales_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

# isna().sum()
shows us how many missing values there are

In [52]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

# Lets convert the data to numbers
Since we are using sklearn 1.5.2 above 0.23 , we will no longer get an error because of missing values

In [53]:
# Create X and y
X = car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

#! Turn categorical data into a binary format / numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Adding "Doors" since "Doors" is also representing a category of Cars
categorical_features = ["Make", "Colour", "Doors"]

''' 
OneHotEncoder() converts categorical data into a binary format.
Key points:
Creates new binary columns for each unique category
Each row has exactly one '1' and the rest are '0's '''

one_hot = OneHotEncoder()

transformer = ColumnTransformer(
    [("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 4000 stored elements and shape (1000, 16)>

In [54]:
import sklearn
print(sklearn.__version__)

1.5.2

### Option1: Fill missing data with Pandas
Replace missing data with string "missing"

In [55]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace=True)

# Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing",inplace=True)

# Fill the Odometer (KM) column
car_sales_missing["Odometer (KM)"].fillna("missing",inplace=True)

# Fill the "Doors" column
car_sales_missing["Doors"].fillna("missing",inplace=True)

# Check our dataframe again
car_sales_missing

C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing["Make"].fillna("missing", inplace=True)
C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing["Colour"].fillna("missing",inplace=True)
C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing["Odometer (KM)"].fillna("missing",inplace=True)
C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  car_sales_missing["Odometer (KM)"].fillna("missing",inplace=True)
C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing["Doors"].fillna("missing",inplace=True)
C:\Users\Osama\AppData\Local\Temp\ipykernel_22348\749104575.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  car_sales_missing["Doors"].fillna("missing",inplace=True)

        Make Colour Odometer (KM) Doors    Price
0      Honda  White       35431.0   4.0  15323.0
1        BMW   Blue      192714.0   5.0  19943.0
2      Honda  White       84714.0   4.0  28343.0
3     Toyota  White      154365.0   4.0  13434.0
4     Nissan   Blue      181577.0   3.0  14043.0
..       ...    ...           ...   ...      ...
995   Toyota  Black       35820.0   4.0  32042.0
996  missing  White      155144.0   3.0   5716.0
997   Nissan   Blue       66604.0   4.0  31570.0
998    Honda  White      215883.0   4.0   4001.0
999   Toyota   Blue      248360.0   4.0  12732.0

[1000 rows x 5 columns]

# Check total number of missing values
**"Price" column is not replaced since it is what we are predicting and would affect the accuracy of the model
so we are simply going to remove all rows with missing price values**

In [56]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

# Remove rows with missing **Price** values

In [57]:
car_sales_missing.dropna(inplace=True)
# Check dataframe again
car_sales_missing.isna().sum(
    
)

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

## Running this again with "missing" string replacement for missing values will error :
*TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['float', 'str']
Output is truncated. View as a scrollable element or open in a text editor. Adjust cell output settings...*

In [58]:
"""# Create X and y
X = car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

#! Turn categorical data into a binary format / numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Adding "Doors" since "Doors" is also representing a category of Cars
categorical_features = ["Make", "Colour", "Doors"]

''' 
OneHotEncoder() converts categorical data into a binary format.
Key points:
Creates new binary columns for each unique category
Each row has exactly one '1' and the rest are '0's '''

one_hot = OneHotEncoder()

transformer = ColumnTransformer(
    [("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X"""

'# Create X and y\nX = car_sales_missing.drop("Price", axis=1)\ny=car_sales_missing["Price"]\n\n#! Turn categorical data into a binary format / numbers\nfrom sklearn.preprocessing import OneHotEncoder\nfrom sklearn.compose import ColumnTransformer\n\n# Adding "Doors" since "Doors" is also representing a category of Cars\ncategorical_features = ["Make", "Colour", "Doors"]\n\n\'\'\' \nOneHotEncoder() converts categorical data into a binary format.\nKey points:\nCreates new binary columns for each unique category\nEach row has exactly one \'1\' and the rest are \'0\'s \'\'\'\n\none_hot = OneHotEncoder()\n\ntransformer = ColumnTransformer(\n    [("one_hot", one_hot, categorical_features)], remainder="passthrough")\n\ntransformed_X = transformer.fit_transform(car_sales_missing)\ntransformed_X'

# Option 2: Fill missing values with **sklearn**

In [59]:
car_sales_missing = pd.read_csv("../data/car-sales-extended-missing-data.csv") # reading again to try different method 
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

# drop the rows with missing values in "Price" column

In [60]:
car_sales_missing.dropna(subset=["Price"],inplace=True)

# Check dataframe again
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

# Split into X and y

In [61]:
X = car_sales_missing.drop("Price",axis=1)
y = car_sales_missing["Price"]

# Fill missing values with Scikit-Learn



**SimpleImputer**
================

SimpleImputer is a class in scikit-learn that is used to impute missing values in a dataset. Imputation is the process of replacing missing or null values in a dataset with a specific value.

**Imputation Strategies**
-------------------------

SimpleImputer provides a simple way to impute missing values by replacing them with a specified value, such as the mean, median, or a constant value. The imputer can be configured to use different strategies to impute missing values, including:

* **mean**: replaces missing values with the mean of the column
* **median**: replaces missing values with the median of the column
* **most_frequent**: replaces missing values with the most frequent value in the column
* **constant**: replaces missing values with a specified constant value

**Supported Column Types**
-------------------------

SimpleImputer can be used to impute missing values in both numerical and categorical columns. For numerical columns, the imputer can use the mean, median, or most frequent value to impute missing values. For categorical columns, the imputer can use the most frequent value or a specified constant value to impute missing values.

# ---------------------------------------



**ColumnTransformer**
=====================

`ColumnTransformer` is a class in scikit-learn that allows you to apply different transformations to different columns of a dataset. It is a powerful tool for preprocessing data, especially when working with datasets that have a mix of numerical and categorical features.

**What does ColumnTransformer do?**
-----------------------------------

`ColumnTransformer` takes in a list of tuples, where each tuple contains:

1. A string identifier for the transformer
2. A transformer object (e.g. `SimpleImputer`, `StandardScaler`, etc.)
3. A list of column names to apply the transformer to

`ColumnTransformer` then applies each transformer to the corresponding columns in the dataset.

**Example**
-----------

Here's an example of using `ColumnTransformer` to apply different transformations to different columns:
```python
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# Define the transformers and columns to apply them to
transformers = [
    ('imputer', SimpleImputer(strategy='mean'), ['age', 'height']),
    ('scaler', StandardScaler(), ['weight'])
]

# Create the ColumnTransformer
ct = ColumnTransformer(transformers)

# Fit and transform the data
X_transformed = ct.fit_transform(X)
```
In this example, `ColumnTransformer` applies the `SimpleImputer` to the `age` and `height` columns, and the `StandardScaler` to the `weight` column.

**Benefits**
------------

Using `ColumnTransformer` provides several benefits, including:

* **Flexibility**: You can apply different transformations to different columns, which is useful when working with datasets that have a mix of numerical and categorical features.
* **Efficiency**: `ColumnTransformer` can be more efficient than applying transformations to each column individually, especially when working with large datasets.
* **Readability**: The code is more readable and easier to understand, as the transformations are clearly defined and applied to specific columns.

In [62]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' & numerical values with mean

car_imputer = SimpleImputer(strategy = "constant",fill_value='missing')
door_imputer = SimpleImputer(strategy = "constant",fill_value=4)
num_imputer = SimpleImputer(strategy = "mean")

# Define columns
car_features = ["Make","Colour"]
door_features= ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer (somthing that fills missing data)
imputer = ColumnTransformer(
    [("car_imputer", car_imputer , car_features),
    ("door_imputer",door_imputer, door_features),
    ("num_imputer",num_imputer,num_features)]
)

# Transform the data    
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

# Create a new dataframe from the transformed data / filled data

In [63]:
car_sales_filled = pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer (KM)"])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

# Check how many missing values are left

In [64]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

# Turn categorical data into a binary format / numbers

In [65]:
#! Turn categorical data into a binary format / numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Adding "Doors" since "Doors" is also representing a category of Cars
categorical_features = ["Make", "Colour", "Doors"]

''' 
OneHotEncoder() converts categorical data into a binary format.
Key points:
Creates new binary columns for each unique category
Each row has exactly one '1' and the rest are '0's '''

one_hot = OneHotEncoder()

transformer = ColumnTransformer(
    [("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3800 stored elements and shape (950, 15)>

# Now that data is all in numbers we can fit a model

In [ ]:
import numpy as np
np.random.seed(42) # To make sure we get same random selection of training and testing data and therefore same accuracy result every time
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size=0.2)
model = RandomForestRegressor() # uses 100 n_estimators by default 
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.21990196728583944