In [3]:
import pandas as pd
colors = pd.Series(["Red", "Green", "Blue"])
colors

cars = pd.Series(["ferrari", "Lambo", "Dodge"])

cars

# Converting 2 series into a dataframe
cars_df = pd.DataFrame({"Cars": cars, "Colors": colors})

cars_df

      Cars Colors
0  ferrari    Red
1    Lambo  Green
2    Dodge   Blue

In [4]:
car_sales = pd.read_csv("car-sales.csv")

# Exporting without (index = False) makes it so that it does not export the indexes
# car_sales.to_csv("exported-car-sales.csv")
car_sales.to_csv("exported-car-sales.csv", index=False)

In [5]:
car_sales2 = pd.read_csv("exported-car-sales.csv")

print(car_sales2)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [6]:


# datatypes in the car sales data frame
car_sales2.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [7]:
# getting indexes of your dataframe
car_sales2.index

RangeIndex(start=0, stop=10, step=1)

 *.describe() only works on numeric columns*

output does not include the 'price' column since it has $ sign before numeric value so it is treated as an object

In [8]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

**.info()** gives combined information of **.index** and **.dtypes**

In [9]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

**.mean()** shows us average of our numerical columns

In [10]:
# car_sales.mean() # this will give us an error since it is depreciated, new way requires all data to be numeric for this to work
# this will give us the mean of the numeric columns only
car_sales.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [11]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

To select a single column in a datafrarame, you can use the following syntax:

*df['column_name']*

In [33]:
car_sales["Doors"].sum()
a = 5